<ng-container *ngIf="!loadingMore && position != 'top'">
    <div *ngIf="enabled || error" padding-horizontal #bottombutton>
        <ion-button *ngIf="!error" block (click)="loadMore()" color="light">
            {{ 'core.loadmore' | translate }}
        </ion-button>
        <ion-button *ngIf="error" block (click)="loadMore()" color="light">
            {{ 'core.tryagain' | translate }}
        </ion-button>
    </div>
</ng-container>

<ion-infinite-scroll [enabled]="enabled && !error && !loadingMore" (ionInfinite)="loadMore($event)" [position]="position" #infinitescroll>
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ng-container *ngIf="!loadingMore && position == 'top'">
    <div *ngIf="enabled || error" padding-horizontal #topbutton>
        <ion-button *ngIf="!error" block (click)="loadMore()" color="light">
            {{ 'core.loadmore' | translate }}
        </ion-button>
        <ion-button *ngIf="error" block (click)="loadMore()" color="light">
            {{ 'core.tryagain' | translate }}
        </ion-button>
    </div>
</ng-container>

<div *ngIf="loadingMore" padding text-center #spinnercontainer>
    <ion-spinner></ion-spinner>
</div>