<ion-item class="ion-text-wrap item-media" (click)="download($event, true)" detail="false">
    <img [src]="fileIcon" alt="" role="presentation" slot="start" />
    <h2>{{fileName}}</h2>
    <p *ngIf="fileSizeReadable">{{ fileSizeReadable }}</p>
    <p *ngIf="showTime">{{ timemodified * 1000 | coreFormatDate }}</p>

    <div class="buttons" slot="end">
        <core-download-refresh [status]="state" [enabled]="canDownload" [loading]="isDownloading" [canTrustDownload]="!alwaysDownload" (action)="download()"></core-download-refresh>

        <ion-button fill="clear" slot="icon-only //TODO: mode to icon" (click)="delete($event)" *ngIf="!isDownloading && canDelete" [attr.aria-label]="'core.delete' | translate" color="danger">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
    </div>
</ion-item>
