<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [attr.aria-label]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'core.settings.preferences' | translate}}</ion-title>
        <ion-buttons slot="primary">
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<core-split-view>
    <ion-content>
        <ion-refresher [enabled]="loaded" (ionRefresh)="refreshData($event)">
            <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
        </ion-refresher>
        <core-loading [hideUntil]="loaded">
            <ion-list>
                <ion-item *ngIf="siteInfo" class="ion-text-wrap">
                    <h2>{{siteInfo.fullname}}</h2>
                    <ion-note class="core-note-block"><core-format-text [text]="siteName" contextLevel="system" [contextInstanceId]="0" [wsNotFiltered]="true"></core-format-text></ion-note>
                    <ion-note class="core-note-block">{{ siteUrl }}</ion-note>
                </ion-item>
                <ion-item-divider></ion-item-divider>
                <ion-item *ngIf="isIOS" (click)="openHandler('CoreSharedFilesListPage', {manage: true, siteId: siteId, hideSitePicker: true})" [title]="'core.sharedfiles.sharedfiles' | translate" [class.core-split-item-selected]="'CoreSharedFilesListPage' == selectedPage" detail="true">
                    <ion-icon name="folder" slot=”start”></ion-icon>
                    <h2>{{ 'core.sharedfiles.sharedfiles' | translate }}</h2>
                    <ion-badge slot="end">{{ iosSharedFiles }}</ion-badge>
                </ion-item>

                <ion-item *ngFor="let handler of handlers" [ngClass]="['core-settings-handler', handler.class]" (click)="openHandler(handler.page, handler.params)" [title]="handler.title | translate" detail="true" [class.core-split-item-selected]="handler.page == selectedPage">
                    <ion-icon [name]="handler.icon" slot=”start” *ngIf="handler.icon">
                    </ion-icon>
                    <h2>{{ handler.title | translate}}</h2>
                </ion-item>

                <ion-card class="with-borders">
                    <ion-item class="ion-text-wrap" *ngIf="spaceUsage">
                        <h2 class="ion-text-wrap">{{ 'core.settings.spaceusage' | translate }} <ion-icon name="information-circle" color="info" [attr.aria-label]="'core.info' | translate" (click)="showSpaceInfo()"></ion-icon></h2>
                        <p *ngIf="spaceUsage.spaceUsage != null">{{ spaceUsage.spaceUsage | coreBytesToSize }}</p>
                        <ion-button slot="icon-only //TODO: mode to icon" fill="clear" color="danger" slot="end" (click)="deleteSiteStorage()" [hidden]="!spaceUsage.spaceUsage > '0' && !spaceUsage.cacheEntries > '0'" [attr.aria-label]="'core.settings.deletesitefilestitle' | translate">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-item class="ion-text-wrap">
                        <h2>{{ 'core.settings.synchronizenow' | translate }} <ion-icon name="information-circle" color="info" [attr.aria-label]="'core.info' | translate" (click)="showSyncInfo()"></ion-icon></h2>
                        <ion-button slot="icon-only //TODO: mode to icon" fill="clear" slot="end" *ngIf="!isSynchronizing()" (click)="synchronize()" [title]="siteName" [attr.aria-label]="'core.settings.synchronizenow' | translate">
                            <ion-icon name="sync"></ion-icon>
                        </ion-button>
                        <ion-spinner slot="end" *ngIf="isSynchronizing()"></ion-spinner>
                    </ion-item>
                </ion-card>
            </ion-list>
        </core-loading>
    </ion-content>
</core-split-view>
