<ion-header>
    <ion-toolbar core-back-button>
        <ion-title>{{ 'core.course.sections' | translate }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button slot="icon-only //TODO: mode to icon" (click)="closeModal()" [attr.aria-label]="'core.close' | translate">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list id="core-course-section-selector" role="menu" aria-labelledby="core-course-section-button">
        <ng-container *ngFor="let section of sections">
            <ion-item *ngIf="!section.hiddenbynumsections && section.id != stealthModulesSectionId" class="ion-text-wrap" (click)="selectSection(section)" [class.core-primary-selected-item]="selected.id == section.id" [class.item-dimmed]="section.visible === 0 || section.uservisible === false" detail="false" role="menuitem" [attr.aria-hidden]="section.uservisible === false" [attr.aria-label]="section.formattedName || section.name">
                <ion-icon name="fa-folder" slot=”start”>
                </ion-icon>
                <h2><core-format-text [text]="section.formattedName || section.name" contextLevel="course" [contextInstanceId]="courseId"></core-format-text></h2>
                <core-progress-bar *ngIf="section.progress >= 0" [progress]="section.progress"></core-progress-bar>
                <ion-badge color="secondary" *ngIf="section.visible === 0 && section.uservisible !== false" class="ion-text-wrap">{{ 'core.course.hiddenfromstudents' | translate }}</ion-badge>
                <ion-badge color="secondary" *ngIf="section.visible === 0 && section.uservisible === false" class="ion-text-wrap">{{ 'core.notavailable' | translate }}</ion-badge>
                <ion-badge color="secondary" *ngIf="section.availabilityinfo" class="ion-text-wrap"><core-format-text [text]=" section.availabilityinfo" contextLevel="course" [contextInstanceId]="courseId"></core-format-text></ion-badge>
            </ion-item>
        </ng-container>
    </ion-list>
</ion-content>
