<ion-item #container lines="none" class="core-timer" [attr.class="ion-text-center"]="align == 'center' ? true : null" [attr.class="ion-text-end"]="align == 'right' ? true : null" role="timer">
    <ion-icon name="timer" slot=”start” role="presentation"></ion-icon>
    <label *ngIf="timeLeft > 0 && timerText">{{ timerText }}</label>
    <span *ngIf="timeLeft > 0">{{ timeLeft | coreSecondsToHMS }}</span>
    <span class="core-timesup" *ngIf="timeLeft <= 0">{{ 'core.timesup' | translate }}</span>
</ion-item>
