<ion-header>
    <ion-toolbar core-back-button>
        <ion-title>{{ title | translate }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button slot="icon-only //TODO: mode to icon" (click)="closeModal()" [attr.aria-label]="'core.close' | translate">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding addon-mod_quiz-preflight-modal">
    <core-loading [hideUntil]="loaded">
        <form ion-list [formGroup]="preflightForm" (ngSubmit)="sendData($event)" #preflightFormEl>
            <!-- Access rules. -->
            <ng-container *ngFor="let data of accessRulesData; let last = last">
                <core-dynamic-component [component]="data.component" [data]="data.data">
                    <p class="ion-padding">Couldn't find the directive to render this access rule.</p>
                </core-dynamic-component>
                <ion-item-divider *ngIf="!last"></ion-item-divider>
            </ng-container>

            <ion-button expand="block" type="submit">
                {{ title | translate }}
            </ion-button>
        </form>
    </core-loading>
</ion-content>
