<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [attr.aria-label]="'core.back' | translate"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'core.login.changepassword' | translate }}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="icon-only //TODO: mode to icon" (click)="showHelp()" [attr.aria-label]="'core.help' | translate">
                <ion-icon name="help-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-list>
        <ion-item class="ion-text-wrap" *ngIf="!changingPassword">
            <h2>{{ 'core.login.forcepasswordchangenotice' | translate }}</h2>
            <p class="ion-padding-vertical">{{ 'core.login.changepasswordinstructions' | translate }}</p>
            <ion-button class="ion-text-wrap" expand="block" (click)="openChangePasswordPage()">{{ 'core.login.changepasswordbutton' | translate }}</ion-button>
        </ion-item>
        <ion-item class="ion-text-wrap" *ngIf="changingPassword">
            <p class="ion-padding-bottom">{{ 'core.login.changepasswordreconnectinstructions' | translate }}</p>
            <ion-button class="ion-text-wrap" expand="block" (click)="login()">{{ 'core.login.reconnect' | translate }}</ion-button>
        </ion-item>
        <ion-item class="ion-text-wrap">
            <p class="ion-padding-bottom">{{ 'core.login.changepasswordlogoutinstructions' | translate }}</p>
            <ion-button class="ion-text-wrap" expand="block" color="light" (click)="logout()">{{ logoutLabel | translate }}</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
