<ion-header>
    <ion-toolbar core-back-button>
        <ion-title>{{ 'core.login.changepassword' | translate }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button icon-only (click)="showHelp()" [attr.aria-label]="'core.help' | translate">
                <ion-icon name="help-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item text-wrap *ngIf="!changingPassword">
            <h2>{{ 'core.login.forcepasswordchangenotice' | translate }}</h2>
            <p padding-vertical>{{ 'core.login.changepasswordinstructions' | translate }}</p>
            <ion-button text-wrap block (click)="openChangePasswordPage()">{{ 'core.login.changepasswordbutton' | translate }}</ion-button>
        </ion-item>
        <ion-item text-wrap *ngIf="changingPassword">
            <p padding-bottom>{{ 'core.login.changepasswordreconnectinstructions' | translate }}</p>
            <ion-button text-wrap block (click)="login()">{{ 'core.login.reconnect' | translate }}</ion-button>
        </ion-item>
        <ion-item text-wrap>
            <p padding-bottom>{{ 'core.login.changepasswordlogoutinstructions' | translate }}</p>
            <ion-button text-wrap block color="light" (click)="logout()">{{ logoutLabel | translate }}</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
