<ion-header>
    <ion-toolbar core-back-button>
        <ion-title>{{ 'addon.storagemanager.managestorage' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <core-loading [hideUntil]="loaded">
        <ion-card>
            <ion-card-header>
                <h1 class="ion-text-wrap">{{ 'core.courses.courses' | translate }}</h1>
                <p class="ion-text-wrap">{{ 'addon.storagemanager.info' | translate }}</p>
                <ion-item class="ion-no-padding" class="ion-padding-top" class="size" class="ion-text-wrap">
                    <ion-icon name="cube" slot=”start”></ion-icon>
                    <h2 class="ion-text-wrap">{{ 'addon.storagemanager.storageused' | translate }}</h2>
                    <div slot="end">
                        <p class="ion-text-end">{{ totalSize | coreBytesToSize }}</p>
                    </div>
                    <ion-button slot="icon-only //TODO: mode to icon" slot="end" class="ion-no-padding" (click)="deleteCompletelyDownloadedCourses()" [disabled]="completelyDownloadedCourses.length === 0">
                        <core-icon name="trash" label="{{ 'addon.storagemanager.deletecourses' | translate }}"></core-icon>
                    </ion-button>
                </ion-item>
            </ion-card-header>
        </ion-card>
        <ion-card>
            <ion-list>
                <ion-item *ngFor="let course of downloadedCourses" class="course">
                    <h2 class="ion-text-wrap">{{ course.displayname }}</h2>
                    <h3 *ngIf="course.isDownloading">{{ 'core.downloading' | translate }}</h3>
                    <p>
                        <ion-icon name="cube" slot=”start”></ion-icon>
                        {{ course.totalSize | coreBytesToSize }}
                    </p>
                    <ion-button slot="icon-only //TODO: mode to icon" slot="end" (click)="deleteCourse(course)" [disabled]="course.isDownloading">
                        <core-icon name="trash" label="{{ 'addon.storagemanager.deletedatafrom' | translate: { name: course.name } }}"></core-icon>
                    </ion-button>
                </ion-item>
            </ion-list>
        </ion-card>
    </core-loading>
</ion-content>
